!!!
%html
	%head
		%title My Library
		%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" }
		%script{:src => "/app.js"}
		%link{:rel => "stylesheet", :href => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"}
		%link{:rel => "stylesheet", :href => "/local.css"}
	%body
		.topbar
			.topbar-inner
				.container
					%a{:href => "/", :class => "brand"} My Library
					%ul
						%li
							%a{:href => "/books/new"} Add books
						-if Book.count(:dewey_class_number => nil) != 0
							%li
								%a{:href => "/books/unclassified"} Unclassified books
		.container
			-if flash[:alert]
				.row
					.alert-message=flash[:alert]
			=yield