!!!
%html
	%head
		%title Pilcrow
		%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" }
		%script{:src => "/app.js"}
		%link{:rel => "stylesheet", :href => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"}
		%link{:rel => "stylesheet", :href => "/local.css"}
	%body
		.topbar
			.topbar-inner
				.container
					%a{:href => "https://github.com/cproctor/pilcrow", :class => "brand"} Pilcrow
					%ul
						%li
							%a{:href => "/"} My library
						-if Book.count(:dewey_class_number => nil) != 0
							%li
								%a{:href => "/books/unclassified"} Unclassified books
						%li
							%a{:href => "/books/new"} Add books
					%ul.right
						%li 
							%a{:href => "/settings"} Settings
		.container
			-if flash[:alert]
				.row
					.alert-message=flash[:alert]
			.row
				=yield