.page-header
	.row
		.span10
			%h1 Unclassified Books
		.span6
			%form{:action => '/lookup', :method => "GET"}
				%input{:type => 'text', :name => 'isbn', :id => 'isbn'}
				%input{:type => 'submit', :class => 'btn', :value => "Lookup"}
.row
	.span16
		%table
			%thead
				%tr
					%th Title
					%th	Author
			%tbody
				-@books.each do |book|
					%tr
						%td
							%a{:href => "/books/#{book.id}/edit"}=book.title
						%td=book.all_authors
.row
	.span2.offset12
		%a{:href => "http://www.google.com"}
			%img{:src=>"http://books.google.com/googlebooks/images/poweredby.png", :border => "0", :style => "border: 0"}
