.row
	.span12.offset2
		.row
			.section#welcome.span12
				.page-header
					%h1 Welcome
		.row 
			.span12 
				Gold, sliver, jewels, purple garments, houses built of marble, groomed estates, pious paintings, caparisoned steeds, and other things of this kind offer a mutable and superficial pleasure; books give delight to the very marrow of one's bones. They speak to us, consult with us, and join with us in a living and intense intimacy.
				%br
				%br
				Petrarch